<footer class="footer-distributed">
  <div class="container">
    <div class="footer">
      <p>{{ site.author }} &copy; {{ site.copyright }}</p>
      {% include social.html %}
    </div>
  </div>
  <!-- <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script> -->
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script> -->
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script> -->
  <script src="{{ '/assets/js/header.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
  <!-- # region -->
  <!-- <script src="{{ '/assets/js/webfont.js' | relative_url }}"></script> -->
  <script src="https://cdn.bootcdn.net/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
</footer>